DOCKER_ENV=prod

# docker
DOCKER_CONTAINER_NAME_PREFIX=zabbix-hosts-relations
NODE_PORT_PUBLIC=3012
NGINX_PORT_PUBLIC=3013

# zabbix
VITE_ZABBIX_TOKEN=your-zabbix-api-token
ZABBIX_URL=http://localhost

# data server
DATA_URL=http://localhost:3013

# ssh login used by the "SSH" button on the host detail page
SSH_LOGIN=login
